streamlit
sklearn
xgboost

pandas
matplotlib
numpy

sklearn
sklearn.ensemble
sklearn.preprocessing
sklearn.pipeline
sklearn.compose
sklearn.metrics
sklearn.preprocessing
sklearn.neighbor
seaborn
ColumnTransformer
Pipeline
OneHotEncoder
r2_score
mean_absolute_error
KNeighborsRegressor
DecisionTreeRegressor
LinearRegression
Ridge
Lasso
XGBRegressor
SVR
RandomForestRegressor
GradientBoostingRegressor
AdaBoostRegressor
ExtraTreesRegressor
VotingRegressor
StackingRegressor
