streamlit
sklearn
xgboost

pandas
matplotlib
numpy

sklearn

seaborn
ColumnTransformer
Pipeline
OneHotEncoder
r2_score
mean_absolute_error
KNeighborsRegressor
DecisionTreeRegressor
LinearRegression
Ridge
Lasso
XGBRegressor
SVR
RandomForestRegressor
GradientBoostingRegressor
AdaBoostRegressor
ExtraTreesRegressor
VotingRegressor
StackingRegressor
